# Dependencies
node_modules/
.pnp
.pnp.js
dist/
build/

# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
error_log.txt
normalizer_logs.txt

# Docker
.docker/

# Secrets & Keys
key
key.pub
id_rsa
id_rsa.pub
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
